/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
    font-size: 19px;
    letter-spacing: -1.2px;
    word-spacing: 0.4px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #180038;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.projeto {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .projeto {
        flex-direction: column;
    }
}



.projeto a {
    text-decoration: none;
    color: gray;
}

#contato a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: #180038;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

@keyframes Pulso {
    0% {
        color: #000000;
    }
    
    50% {
        color: #ffffff00;
    }

    100% {
        color: #000000;
    }
}

#sobre span, #contato span, #portfolio span{
    animation: Pulso 3s infinite 2s;
}



/* Animação Nome */
@keyframes Nome {
    0% {
        color: white;
    }

    25% {
        color: aqua;
    }

    50% {
        color: rgb(255, 251, 0);
    }

    75% {
        color: aqua;
    }

    100% {
        color: white;
    }
}

#Esdras {
    animation: Nome 5s infinite 1s;
}

#Souza {
    animation: Nome 5s infinite 2s;
}

#dos {
    animation: Nome 5s infinite 3s;
}

#Santos {
    animation: Nome 5s infinite 4s;
}

@keyframes Rodar {
    from {
        transform: rotate(0deg);
    }to {
        transform: rotate(359deg);
    }
}

footer .C{
    display: inline-block;
    animation: Rodar 2s infinite;
}